*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(235, 235, 235);
    font-family: 'Courier New';
    
}
h1 h2 h3 h4{
    color: gray;
    margin: 5px;
}
a {
    text-decoration: none;
    color: inherit;

}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.btn{
    padding: .5rem 1rem;
    background-color: rgb(68, 68, 249);
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.1em;
    font-family: 'Courier New';
}
.btn:hover{
    color: white !important;
    background:  rgb(68, 69, 220);;
}
.btn-big{
    padding: .65rem 1.6rem;
    line-height: 1.3rem;
}
.text-input {
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: gray;
    line-height: 1.5rem;
    font-family: 'Courier New';
    border: 1px solid rgb(224, 223, 223);
    font-size: 1.2em;
}
header{
    background-color: rgb(68, 68, 249);
    height: 66px;
   
}


header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;

}

header .logo-text{
    margin: 9px;
}

header .logo-text span{
    color: rgb(1, 1, 117);
    font-family: Georgia, Times;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;

}
.showing{
    max-height: 100em;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background: rgb(0, 0, 112);
    transition: 0.5s;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px; 
    display: none;  
}

header ul li:hover ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 12px;
    color: rgb(61, 61, 61);
    font-family: Helvetica;
    background-color: white;
}

header ul li ul li a:hover{
    background: rgb(161, 161, 161);
    
}
header .menu-toggle{
    display: none;
    
}
header *{
    color: white;
}
section{
    display: flex;
    justify-content: space-between;
}

img{
    transition: backgroung-image 1s , opacity 1s;
}
img:hover{
    opacity: 0.8;
    transition: all 0.3s;
}

.logout{
    color: rgb(254, 4, 4);
}
/*error message*/
.msg{
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}
.success{
    color: green;
    border: 1px solid green;
    background: rgb(146, 246, 146);
}

.error{
    color: rgb(236, 0, 0);
    border: 1px solid rgb(215, 2, 2);
    background: rgb(248, 195, 195);
}


.wrapper{
    display: flex;
    
}

.wrapper img{
    margin-left: 30px;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 0.5s;
    transform: translate(0px);
}

.wrapper img:hover{
    transform: scale(1.1);
    transition: transform 0.4s;
}
.wrap{
    width: 50%;
    margin-left: 30px;
    padding-bottom: 10px;
    box-shadow: 1.5rem 1.5rem 1.5rem -1.5rem gray;
}
.wrap a{
    font-size: 1.2em;
}
.wrap a:hover{
    color: rgb(1, 1, 178);
}

.page-wrapper{
    min-height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
    margin-top: 60px;
    padding-top: 20px;
    width: 100%;
    box-shadow: 1.5rem 1.5rem 1.5rem -1.5rem gray;
}

.wrap{
    display: flex;
    width: 100%;
}
.h5{
   
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
h3{
    font-size: 1.5em;
    font-family: fantasy;
}

.content{
    width: 90%;
    margin: 30px auto 30px;
    
}

.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid rgb(8, 106, 8);
    background: transparent;
    border-radius: 0px;
    color: green;
}

.read-more:hover{
    background-color: rgb(16, 94, 16);
    color: white !important;
    transition: 0.25s;
}
.main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;
}

.main-content .post .post-preview{
    padding: 10px;
    width: 60%;
    float: right;
}
.content .main-content{
    width: 70%;
    float: left;
}
.main-content.single .post-title{
    margin-bottom: 40px;
}

.main-content.single{
    background-color: white;
    padding-top: 3px;
    padding-left: 50px;
    font-size: 1.1em;
    margin-top: 15px;
    margin-left: 40px;
    justify-content: center;
    padding-bottom: 3px;
    border-radius: 5px;
    width: 50%;
    height: 80%;
}
.popular .post{
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 10px;
}

.popular .post img{
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
}
.sidebar.single{
    padding: 0px 10px;
}
.main-content .recent-title-post{
    margin: 20px;
}

.sidebar{
    margin-right: 20px;
    display: flex;
    margin-top: 20px;
    justify-content: right;
    height: 80%;
    width: 50%;
   
}
.sidebar .section{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 70%;
    height: 65%;
    margin-left: 40px;
}
.sidebar .section.search{
    margin-top: 80px;
   margin-left: 200px;
    right: 10px;
}


.sidebar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sidebar .section.topics a{
    border-bottom: 1px solid rgb(226, 224, 224);
    padding: 15px 0px 15px 0px;
    display: block;
    transition: 0.35s;
}

.sidebar .section.topics a:hover{
    padding-left: 15px;
    transition: 0.35s;
    color: rgb(171, 202, 171);
}

.sidebar .section .section-title{
    margin: 10px 0px 10px 0px;
}
.footer{
    background: rgb(73, 73, 73);
    color: white;
    height: 400px;
    position: relative;
}

.footer .footer-bottom{
    background: rgb(107, 103, 103);
    color: rgb(243, 231, 231);
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}
.footer .footer-content{
    height: 350px;
    display: flex;
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}
.footer .footer-content .footer-section{
    flex: 1;
    border: 1px solid white;
    padding: 25px;
}
.footer .footer-content .about h1 span{
    color: rgb(1, 1, 152);
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a{
    border: 1px solid rgb(178, 177, 177);
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    color: rgb(120, 120, 227);
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all 0.3s;
}
.facebook{
    color: rgb(37, 37, 253);
}
.facebook:hover{
    color: white;
    background: rgb(51, 51, 255);
}
.instagram{
    color: rgb(187, 8, 187);
}
.instagram:hover{
    background-color: white;
    color: purple;
}
.twitter{
    color: rgb(113, 113, 208);
}
.twitter:hover{
    color: rgb(70, 70, 249);
    
}
.tiktok{
    color: rgb(20, 20, 20);
    ;
}
.tiktok:hover{
    color: white;
    background-color: rgb(3, 3, 3);
}
.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: 0.4s;
}

.footer .footer-content .links ul a:hover{
    color: white;
    padding-left: 15px;
    transition: 0.4s;
}

.footer .footer-content .contact-form .contact-input{
    background-color: rgb(61, 59, 59);
    margin-bottom: 10px;
    line-height: 1.5rem;
    border: none;
    width: 100%;
    padding: 0.9rem 1.2rem;
}
.footer .footer-content .contact-form .contact-input:focus{
    background-color: rgb(218, 216, 216);
    
}

.footer .footer-content .contact-form .contact-btn{
    float: right;
}
.auth-content form p{
    text-align: center;
}

.auth-content form p a{
    text-decoration: underline;
}
/*
.post-slider .post-info{
    background: blue;
}
    */
    /*Auth Page*/
.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.auth-content form div{
    margin-bottom: 10px;
}
.auth-content .form-title{
    text-align: center;
}
@media only screen and (max-width: 934px){
    .sidebar{
        width: 30%;
    }
    .main-content{
        width: 40%;
    }
    .section{
        width: 30%;
    }
    .heading{
        width: 100%;
        background: rgb(255, 251, 251)
        
    }
    .wrap{
        width: 100%;
    }
    section{
        display: block;
        width: 100%;
        height: auto;
    }
    .main-content.single{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
       
    }
    .post-content{
        margin-left: 0px;
        border-left: 0px;
        border-right: 10px;
        justify-content: left;
        width: 100%;
    }
    .sidebar.single{
        width: 100%;
        flex-direction: column;
        position: static;
    }
    .popular .post{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        position: static;
    }
    
    .popular .post img{
        height: auto;

    }

    .section.popular {
        width: 100%;
        height: auto;
        padding: 15px;
    
        margin-left: 0px;
    }
    .section.topics{
        width: 100%;
        margin-left: 0px;
    }
    
    .footer{
        height: auto;
    }
    .footer .footer-content{
        height: auto;
        flex-direction: column;
    }
    
    .footer .footer-content .contact-form{
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn{
        width: 100%;
    }.auth-content{
        width: 100%;
    }
    
}

@media only screen and (max-width: 800px) {
    header ul{
        width: 100%;
        background: rgb(0, 0, 155);
    }
    .sidebar{
        width: 30%;
    }
    .main-content{
        width: 40%;
    }
    .section{
        width: 30%;
    }
    .heading{
        width: 100%;
        background: rgb(255, 251, 251)
        
    }
    .wrap{
        width: 100%;
    }
    section{
        display: block;
        width: 100%;
        height: auto;
    }
    .main-content.single{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
       
    }
    .post-content{
        margin-left: 0px;
        border-left: 0px;
        border-right: 10px;
        justify-content: left;
        width: 100%;
    }
    .sidebar.single{
        width: 100%;
        flex-direction: column;
        position: static;
    }
    .popular .post{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        position: static;
    }
    
    .popular .post img{
        height: auto;

    }

    .section.popular {
        width: 100%;
        height: auto;
        padding: 15px;
    
        margin-left: 0px;
    }
    .section.topics{
        width: 100%;
        margin-left: 0px;
    }
    
    .footer{
        height: auto;
    }
    .footer .footer-content{
        height: auto;
        flex-direction: column;
    }
    
    .footer .footer-content .contact-form{
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn{
        width: 100%;
    }
    .auth-content{
        width: 100%;
    }
    
}

@media only screen and (max-width: 750px) {
    header ul{
        width: 100%;
        background: rgb(0, 0, 155);
    }
    .sidebar{
        width: 30%;
    }
    .main-content{
        width: 40%;
    }
    .section{
        width: 30%;
    }
    .heading{
        width: 100%;
        background: rgb(255, 251, 251)
        
    }
    .wrap{
        width: 100%;
    }
    section{
        display: block;
        width: 100%;
        height: auto;
    }
    .main-content.single{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .sidebar.single{
        width: 100%;
        flex-direction: column;
        position: static;
    }
    .popular .post{
        width: 100%;
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
        position: static;
    }
    
    .popular .post img{
        height: auto;

    }

    .section.popular {
        width: 100%;
        height: auto;
        padding: 15px;
    
        margin-left: 0px;
    }
    .section.topics{
        width: 100%;
        margin-left: 0px;
    }
    
    .footer{
        height: auto;
    }
    .footer .footer-content{
        height: auto;
        flex-direction: column;
    }
    
    .footer .footer-content .contact-form{
        padding-bottom: 90px;
    }
    .footer .footer-content .contact-form .contact-btn{
        width: 100%;
    }
    .popular .post{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .popular .post img{
        height: auto;

    }
    .auth-content{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
   .post-title{
    margin-left: 0px;
    padding-left: 17px;
   }
  .post-content {
    margin-left: 0px;
  }
  .main-content.single{
    width: 100%;
    margin-left: 3px;
    margin-right: 50px;
    padding-left: 13px;
    padding-right: 12px;
  }
  header ul li{
    width: 100%;
  }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;  
    }
  
    header ul li ul li a{
        padding: 10px;
        background: inherit;
        color: white;
        padding-left: 50px;
    }
    .logout{
        color: rgb(254, 4, 4);
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;

    }
    .heading{
        width: 100%;
        background: rgb(255, 251, 251)
        
    }

    .popular .post{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    
    .popular .post img{
        height: auto;

    }
    .auth-content{
        width: 100%;
    }
    .section{
        padding: 0px;
        margin: 0px;
    }
}
